%h1 Search

#search_form
  = form_tag search_index_path, :method => :get do
    %p
      Member name:
      = text_field_tag :q, params[:q], :id => 'search_box'
      = submit_tag "Search", :id => 'search'

- if @members.size > 0
  #results
    - @members.each do |member|
      .member
        %h2= member.name
        %h3 Committees
        %ul
          - member.organizations.each do |organization|
            %li= organization.name
